@using ng_project.Entities;

@model Project;
@{
	var hasImage = Model.MainProjectImage != null && Model.MainProjectImage.Data != null;
	var hasPageCover = Model.ProjectImage != null && Model.ProjectImage.Data != null;
	var hasUserImage = Model.User.Image != null && Model.User.Image.Data != null;
}
<link rel="stylesheet" href="~/css/ProjectInfo.css" />
<div class="container-fluid">
	<div class="project-info">
		<div class="header">
			<div class="page-cover @(hasPageCover ? "": "BlueTheme")">
				@if(hasPageCover)
				{
					<img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.ProjectImage.Data))" />
				}
				<div class="text">
					<div>
						@(Model.Name)
					</div>
				</div>
			</div>
		</div>
		<div class="body mt-3">
			<div class="project-info-pages">
				<ul class="nav justify-content-center pages-list-blue" id="myTab" role="tablist">
					<li class="nav-item page-list-item-blue">
						<a class="nav-link active" id="main-tab" data-toggle="tab" href="#main" role="tab" aria-controls="main" aria-selected="true">Главная</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="news-tab" data-toggle="tab" href="#news" role="tab" aria-controls="news" aria-selected="true">Новости</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " id="command-tab" data-toggle="tab" href="#command" role="tab" aria-controls="command" aria-selected="true">Стать частью</a>
					</li>
				</ul>
				<div class="subscribe" onclick="DoSubscribe()">
					<div class="d-flex flex-nowrap block">
						<div class="text">
							Подписаться
						</div>
						<div class="count">
							@(Model.Subscribers?.Count??0)
						</div>
					</div>
				</div>
			</div>
			<div class="page-list-info-body tab-content  mt-3 page-list-content">
				<div class="tab-pane active" id="main" role="tabpanel" aria-labelledby="main-tab">
					@Html.Partial("Project/MainPartial")
				</div>
				<div class="tab-pane" id="news" role="tabpanel" aria-labelledby="news-tab">
					@Html.Partial("Project/ShowNewsPartial")
				</div>
				<div class="tab-pane" id="command" role="tabpanel" aria-labelledby="command-tab">
					@Html.Partial("Project/BecomePart")
				</div>
			</div>
			<div class="mt-5">

			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function () {
		ShowLoader();
		$('.project-info .body .project-info-pages .subscribe').hover(function () {
			$('.project-info .body .project-info-pages .subscribe .block').toggleClass('BlueTheme');
		})

		$.ajax({
			type: 'POST',
			url: '@Url.ActionLink("IsSubdcribe","Project")',
			data: { projectId: @(Model.Id)},
			success: function (data) {
				if (data == true) {
					$('.project-info .body .project-info-pages .subscribe').addClass('BlueTheme');
					let text = $('.project-info .body .project-info-pages .subscribe .text')
					text.empty();
					text.append("Вы подписаны")
				}
			}
		})
		HideLoader();
	})

	function DoSubscribe() {
		$.ajax({
			type: 'POST',
			url: '@Url.ActionLink("Subscribe","Project")',
			data: { projectId: @(Model.Id)},
			success: function () {
				$('.project-info .body .project-info-pages .subscribe .text').empty();
				$('.project-info .body .project-info-pages .subscribe .text').append("Вы подписаны");
				var count = $('.project-info .body .project-info-pages .subscribe .count');
				var item = Number(count.val());
				count.empty();
				count.append(item + 1);
				$('.project-info .body .project-info-pages .subscribe').addClass('BlueTheme');
			}
		})
	}
</script>