@using ng_project.Entities;

@model User;
<link rel="stylesheet" href="~/css/User.css" />
<form asp-action="Edit" asp-controller="User" method="post">
	<div class="row">
		<div class="col-md-6">
			@Html.LabelFor(m => m.login)
			@Html.EditorFor(m => m.login, new { htmlAttributes = new { @class = "form-control" } })
			@Html.LabelFor(m => m.Password)
			@Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control" } })
			@Html.LabelFor(m => m.FirstName)
			@Html.EditorFor(m => m.FirstName, new { htmlAttributes = new { @class = "form-control" } })
			@Html.LabelFor(m => m.LastName)
			@Html.EditorFor(m => m.LastName, new { htmlAttributes = new { @class = "form-control" } })
			@Html.HiddenFor(m => m.Email.Id)
			@Html.LabelFor(m => m.Email.EmailString)
			@Html.EditorFor(m => m.Email.EmailString, new { htmlAttributes = new { @class = "form-control" } })
			<div class="input-group  mt-3">
				<input name="new-role" type="text" class="form-control" id="new-skill-inp" value="" placeholder="Введите название роли" />
				<span class="input-group-text add-skills-btn addRole btn" style="cursor:pointer">
					Добавить
				</span>

			</div>
			<div class="row participant-skills">
				@for (int rolesCount = 0; rolesCount < Model.Roles.Count; rolesCount++)
				{
					<span class="participant-skill-item">@(Model.Roles[rolesCount].Name)</span>
				}
			</div>
		</div>
	</div>
	
	<div class="mt-2 d-flex d-inline">
		<a class="btn btn-primary mr-2" asp-action="DeleteUser" asp-controller="User" asp-route-id="@(Model.Id)">
			Удалить
		</a>
		<input type="submit" value="Сохранить" class="btn btn-primary" />
	</div>
</form>

<script>
	$(document).ready(function ()
	{
		$.ajax({
			type: 'GET',
			url: '@Url.ActionLink("GetRolesItems", "User")',
			success: function (data) {
				$("#new-skill-inp").autocomplete({
					source: data
				});
			}
		})
		let rolesCount = @(Model.Roles?.Count??0)-1;
		$('.addRole').bind('click', function ()
		{
			rolesCount++;
			let text = $('input[name="new-role"]').val();
			if (text !== "") {
				$.ajax({
					type: 'POST',
					url: '@Url.ActionLink("AddNewRole", "User")',
					data: { roleName: text, index: rolesCount},
					success: function (data) {
						$('input[name="new-skill"]').val("");
						$('.participant-skills').append(data.value);
					}
				})
			}
		})
	})
</script>