@using ng_project.web.Models;
@model RegisterModel;


<div class="container mt-3">
	<h1 class="h3 mb-3 font-weight-normal text-center">Регистрация</h1>
	<div class="d-flex justify-content-center">
		<form asp-action="Registration" asp-controller="Account" asp-anti-forgery="true">
			<div class="mb-3">
				@Html.LabelFor(t => t.Login, htmlAttributes: new { @class = "" })
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">@("@")</span>
					</div>
					@Html.EditorFor(t => t.Login, new { htmlAttributes = new { placeholder = "username", autocomplete = "off", @class = "form-control" } })
					@Html.ValidationMessageFor(t => t.Login, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="mb-3">
				@Html.LabelFor(t => t.Email, htmlAttributes: new { @class = "" })
				<div class="input-group">
					@Html.EditorFor(t => t.Email, new { htmlAttributes = new { placeholder = "test@email.ru", autocomplete = "true", type = "email", @class = "form-control" } })
					@Html.ValidationMessageFor(t => t.Email, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="mb-3">
				@Html.LabelFor(t => t.Password, htmlAttributes: new { @class = "" })
				<div class="input-group">
					@Html.EditorFor(t => t.Password, new { htmlAttributes = new { placeholder = "Пароль", autocomplete = "true", type = "password", @class = "form-control" } })
					@Html.ValidationMessageFor(t => t.Password, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="mb-3">
				@Html.LabelFor(t => t.ConfirmPassword, htmlAttributes: new { @class = "" })
				<div class="input-group">
					@Html.EditorFor(t => t.ConfirmPassword, new { htmlAttributes = new { placeholder = "Пароль", autocomplete = "true", type = "password", @class = "form-control" } })
					@Html.ValidationMessageFor(t => t.ConfirmPassword, "", new { @class = "text-danger" })
				</div>
			</div>
			<input type="submit" value="Зарегистрироваться" class="btn btn-md btn-primary btn-block" />

		</form>
</div>

</div>
