@using ng_project.Entities;

@model List<Notify>;

<link rel="stylesheet" href="~/css/Notify.css" />

<div class="container">
	<div class="row">
		<div class="col-3">
			<div class="request-list">
				@foreach (var notify in Model)
				{
					<div class="request-item mt-2">
						<input type="hidden" value="@(notify.Id)" class="notify_id"/>
						<div class="name">
							@($"{notify.Sender.LastName} {notify.Sender.FirstName}")
						</div>
						<div class="date">
							@(notify.SendDate.ToLongDateString())
						</div>
					</div>
				}

			</div>
		</div>
		<div class="col-9">
			<div class="message-item">
			</div>
		</div>
	</div>
</div>


<script>
	$(document).ready(function ()
	{
		$('.request-item:first').addClass("select");
		$.ajax(
		{
			url: '@(Url.Action("GetProject","Notify"))',
			type: 'GET',
			data: { notifyId:@(Model.FirstOrDefault()?.Id??0)},
			success: function (data) {
				$('.message-item').empty();
				$('.message-item').append(data);
			}
		})
		$('.request-item').bind("click", function () {
			$('.request-item').removeClass("select");
			debugger;
			var notifyid = $(this).children(".notify_id")[0].value;
			$(this).addClass("select");
			SetMessage(notifyid);

		})
	})

	function SetMessage(notifyid) {
		$.ajax(
		{
			url: '@(Url.Action("GetProject","Notify"))',
			type: 'GET',
			data: { notifyId: notifyid},
			success: function (data) {
				$('.message-item').empty();
				$('.message-item').append(data);
			}
		})
	}
</script>